<div class="container">
  <h1>Section for course: {{courseId}}</h1>

  <input placeholder="Section Name" [(ngModel)]="sectionName" class="form-control">
  <input placeholder="Seats" [(ngModel)]="seats" class="form-control">
  <button class="btn btn-success" (click)="createSection(sectionName,seats)">Add Section</button>

  <br/>

  <ul class="list-group">
    <li class="list-group-item" *ngFor="let section of sections">
      {{section.name}} ({{section.seats}})
      <button class="btn btn-primary float-right" (click)="enroll(section)">Enroll</button>
    </li>
  </ul>

</div>
